.individual {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .individual {
    flex-direction: column;
  }

  .splitView {
    flex-direction: row;
  }
}
