.col {
  padding: 5px;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;

  &:last-child {
    border-right: 0px;
  }
}

$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $col in $cols {
  .col-#{$col} {
    flex: #{$col};
    width: calc((100% / 12) * #{$col});
  }
}

.alignCenter {
  justify-content: center;
}
